body {
		background-color: black;
		text-color: white;
		text-align: center;
}

div.x {
		display: inline-block;
}

div#s {
		color: red;
		font-size: 30em;
		display: inline-block;
}
div#d {
		color: red;
		font-size: 10em;
		display: inline-block;
}
div.subtext {
		color: grey;
		font-size: 5em;
		text-align: center;
		margin: 0 0 0 0;
		padding: 0 0 0 0;
		
}

